@import "../utility/variables";
.details {
  margin: 30px;
  border-radius: 5px;
  background-color: $light-background-color;
  overflow: hidden;
  box-shadow: 0 0 20px 0 rgba(50, 50, 50, 0.1);

  div {
    padding: 0;
    &.featured-image {
      img {
        position: relative;
        width: calc(100% - 30px);
        max-width: 770px;
      }
    }
  }

  @include mdMedia {
    margin: 0;
    border-radius: 0;
    div {
      margin-top: 30px;
      &.featured-image {
        text-align: center;
        img {
          max-width: 500px;
          width: 100%;
        }
      }
    }
  }
}