@import "../utility/variables";

.details {
  margin: 30px;
  border-radius: 5px;
  background-color: $light-background-color;
  overflow: hidden;
  box-shadow: 0 0 20px 0 rgba(50, 50, 50, 0.1);

  div {
    max-height: 800px;
    overflow-y: auto;
    overflow-x: hidden;
    &.featured-image {
      padding: 0;
      img {
        position: relative;
        width: calc(100% - 30px);
        max-width: 770px;
      }
    }
    &.info {
      padding: 30px 0;

      h1, h2 {
        margin-left: 17px;
        border-left: 5px solid $accent-color;
      }

      p {
        margin-top: 20px;
        span {
          color: $accent-color;
          margin-right: 5px;
        }
      }
      .product-list {
        .item {
          cursor: pointer;
          margin-top: 10px;
          padding: 0;

          transition: padding ease-out 0.2s;

          &:hover {
            padding-left: 10px;
          }

          div {
            text-transform: capitalize;
            span {
              padding-right: 5px;
              color: $accent-color;
            }
            &.price {
              color: lighten($dark-background-color, 20%);
              padding-left: 25px;
              span {
                color: inherit;
              }
            }
          }
        }
      }
    }
  }

  @include mdMedia {
    margin: 0;
    border-radius: 0;
    div {
      &.featured-image {
        text-align: center;
        background-color: #cccccc;
        img {
          max-width: 500px;
          width: 100%;
        }
      }
      &.info {
        padding: 30px;
      }
    }
  }
}