@import "../utility/variables";

.details {
  margin: 30px;
  border-radius: 5px;
  background-color: $light-background-color;
  overflow: hidden;
  box-shadow: 0 0 20px 0 rgba(50, 50, 50, 0.1);

  div {
    &.featured-image {
      padding: 0;
      img {
        position: relative;
        width: calc(100% - 30px);
        max-width: 770px;
      }
    }
    &.info {
      padding-top: 30px;

      h1, h2 {
        margin-left: 17px;
        border-left: 5px solid $accent-color;
      }

      p {
        margin-top: 20px;
        span {
          color: $accent-color;
          margin-right: 5px;
        }
      }
    }
  }

  @include mdMedia {
    margin: 0;
    border-radius: 0;
    div {
      &.featured-image {
        text-align: center;
        background-color: #cccccc;
        img {
          max-width: 500px;
          width: 100%;
        }
      }
    }
  }
}