@import "../utility/variables";

.home {

  padding: 0;
  display: flex;

  @include mdMedia{
    flex-direction: column-reverse;
  }

  .map {

    @include mdMedia{
      max-height: calc(50vh - 50px);
    }

    height: calc(100vh - 100px);
  }

  .stores {

    @include mdMedia{
      max-height: calc(50vh - 50px);
    }

    overflow-y: scroll;
    height: calc(100vh - 100px);
    .card {
      height: 100px;
      cursor: pointer;
      padding: 20px;
      background-color: $light-background-color;
      border-bottom: 1px solid #EEE;
      border-left: 5px solid transparent;

      transition: border-color ease-out 0.15s ;
      &:hover {
        border-left: 5px solid $dark-background-color;
      }
    }
  }
}

