@import "../utility/variables";

.home {

  padding: 0;
  display: flex;

  @include mdMedia{
    flex-direction: column-reverse;
    @include landscape {
      flex-direction: row;
      .map, .stores {
        max-height: none !important;
        box-shadow: none !important;
      }
    }
  }

  .map {

    background-color: #dedede;

    @include mdMedia{
      max-height: calc(50vh - 50px);
      box-shadow: 0 0 15px 0 rgba(50, 50, 50, 0.5);
    }

    height: calc(100vh - 100px);
  }

  .stores {

    @include mdMedia{
      max-height: calc(50vh - 50px);
    }

    overflow-y: scroll;
    overflow-x: hidden;

    height: calc(100vh - 100px);

    .card {
      padding: 0;
      cursor: pointer;
      background-color: $light-background-color;
      border-left: 5px solid transparent;
      height: 80px;
      border-top: 1px solid #EEE;

      .info {
        position: relative;
        display: inline-block;
        padding: 20px;
        left: 0;

        transition: left ease-out 0.3s;
      }

      .discover {
        position: absolute;
        left: -32%;
        width: 30%;
        display: inline-block;
        height: 100%;
        border: none;
        border-right: 5px solid $accent-color;
        background-color: $dark-background-color;
        color: $light-background-color;
        text-transform: uppercase;
        text-align: center;
        line-height: 80px;

        transition: left ease-out 0.3s, background-color ease-out 0.2s;

        &:hover {
          background-color: lighten( $dark-background-color, 10% );
        }
      }

      transition: border-color ease-out 0.15s ;

      &:focus {
        outline: none;
        .info {
          left: 30%;
        }
        .discover {
          left: -5px;
        }
      }

      &:hover {
        border-left: 5px solid $accent-color;
      }
    }
  }
}

