.login {
  padding: 0; }
  .login form {
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 5px 20px 0 rgba(50, 50, 50, 0.1);
    position: relative;
    text-align: center;
    width: 350px;
    margin: 50px auto;
    padding: 25px; }
    .login form h1 {
      padding-bottom: 25px;
      text-align: center; }
      .login form h1 span {
        color: #ffdf32; }
    .login form div input {
      border-radius: 3px;
      border: 1px solid #e0e0e0;
      padding: 0 20px;
      width: 200px;
      height: 50px;
      margin-bottom: 25px; }
      .login form div input[type="submit"] {
        background-color: #202020;
        border: none;
        color: #ffffff;
        text-transform: uppercase; }
    .login form div.error {
      color: #f00; }
    @media screen and (max-width: 991px) {
      .login form {
        width: 100vw;
        height: calc(100vh - 100px);
        margin: 0;
        border-radius: 0; }
        .login form h1 {
          padding-bottom: 50px; }
        .login form div input {
          padding: 20px;
          height: auto;
          width: 80%; } }
  @media screen and (max-width: 991px) and (orientation: landscape) {
    .login form {
      min-height: 100vhs; } }

.home {
  padding: 0;
  display: flex; }
  @media screen and (max-width: 991px) {
    .home {
      flex-direction: column-reverse; } }
  .home .map {
    height: calc(100vh - 100px); }
    @media screen and (max-width: 991px) {
      .home .map {
        max-height: calc(50vh - 50px);
        box-shadow: 0 0 15px 0 rgba(50, 50, 50, 0.5); } }
  .home .stores {
    overflow-y: scroll;
    overflow-x: hidden;
    height: calc(100vh - 100px); }
    @media screen and (max-width: 991px) {
      .home .stores {
        max-height: calc(50vh - 50px); } }
    .home .stores .card {
      padding: 0;
      cursor: pointer;
      background-color: #ffffff;
      border-left: 5px solid transparent;
      height: 80px;
      border-top: 1px solid #EEE;
      transition: border-color ease-out 0.15s; }
      .home .stores .card .info {
        position: relative;
        display: inline-block;
        padding: 20px;
        left: 0;
        transition: left ease-out 0.3s; }
      .home .stores .card .discover {
        position: absolute;
        left: -32%;
        width: 30%;
        display: inline-block;
        height: 100%;
        border: none;
        border-right: 5px solid #ffdf32;
        background-color: #202020;
        color: #ffffff;
        text-transform: uppercase;
        text-align: center;
        line-height: 80px;
        transition: left ease-out 0.3s, background-color ease-out 0.2s; }
        .home .stores .card .discover:hover {
          background-color: #3a3a3a; }
      .home .stores .card:focus {
        outline: none; }
        .home .stores .card:focus .info {
          left: 30%; }
        .home .stores .card:focus .discover {
          left: -5px; }
      .home .stores .card:hover {
        border-left: 5px solid #ffdf32; }

.details {
  margin: 30px;
  border-radius: 5px;
  background-color: #ffffff;
  overflow: hidden;
  box-shadow: 0 0 20px 0 rgba(50, 50, 50, 0.1); }
  .details div {
    /*max-height: 800px;
    overflow-y: auto;
    overflow-x: hidden;*/ }
    .details div.featured-image {
      padding: 0; }
      .details div.featured-image img {
        position: relative;
        width: calc(100% - 30px);
        max-width: 770px; }
    .details div.info {
      padding: 30px 0; }
      .details div.info h1, .details div.info h2 {
        margin-left: 17px;
        border-left: 5px solid #ffdf32; }
      .details div.info p {
        margin-top: 20px; }
        .details div.info p span {
          color: #ffdf32;
          margin-right: 5px; }
      .details div.info .product-list .item {
        cursor: pointer;
        margin-top: 10px;
        padding: 0;
        transition: padding ease-out 0.2s; }
        .details div.info .product-list .item:hover {
          padding-left: 10px; }
        .details div.info .product-list .item div {
          text-transform: capitalize; }
          .details div.info .product-list .item div span {
            padding-right: 5px;
            color: #ffdf32; }
          .details div.info .product-list .item div.price {
            color: #535353;
            padding-left: 25px; }
            .details div.info .product-list .item div.price span {
              color: inherit; }
  @media screen and (max-width: 991px) {
    .details {
      margin: 0;
      border-radius: 0; }
      .details div.featured-image {
        text-align: center;
        background-color: #cccccc; }
        .details div.featured-image img {
          max-width: 500px;
          width: 100%; }
      .details div.info {
        padding: 30px; } }

body {
  overflow-y: auto;
  overflow-x: hidden;
  color: #202020;
  background: url("../images/pattern.jpg"); }
  body .container-fluid header {
    top: -1px;
    z-index: 3;
    position: fixed;
    width: 100%;
    background-color: #202020;
    box-shadow: 0 0 15px 0 rgba(50, 50, 50, 0.2);
    overflow: hidden;
    height: 100px;
    border-bottom: 5px solid #ffdf32; }
    body .container-fluid header .jesse-logo {
      text-align: center;
      top: -25px;
      height: 150px; }
      body .container-fluid header .jesse-logo img {
        height: inherit; }
    body .container-fluid header .logout button {
      float: right;
      color: #ffdf32;
      font-size: 25px;
      background: transparent;
      border: none;
      margin: 20px 10px;
      height: 50px; }
    body .container-fluid header .back button {
      float: left;
      color: #ffdf32;
      font-size: 25px;
      background: transparent;
      border: none;
      margin: 20px 10px;
      height: 50px; }
  body .container-fluid section {
    z-index: 2;
    margin-top: 100px; }

/*# sourceMappingURL=main.css.map */
