@import "_import";

body {
  overflow: hidden;
  color: $main-font-color;
  background: url('../images/pattern.jpg');
  .container-fluid {
    header {
      background-color: $light-background-color;
      box-shadow: 0 0 15px 0 rgba(50, 50, 50, 0.1);
      overflow: hidden;
      height: 100px;
      border-bottom: 5px solid $accent-color;
      .jesse-logo {
        text-align: center;
        top: -25px;
        height: 150px;
        img {
          height: inherit;
        }
      }
    }
    section {
      div {

      }
    }
  }
}

