@import "_import";

body {
  overflow-y: auto;
  overflow-x: hidden;
  color: $main-font-color;
  background: url('../images/pattern.jpg');
  .container-fluid {
    header {
      z-index: 3;
      position: fixed;
      width: 100%;
      background-color: $dark-background-color;
      box-shadow: 0 0 15px 0 rgba(50, 50, 50, 0.2);
      overflow: hidden;
      height: 100px;
      border-bottom: 5px solid $accent-color;
      .jesse-logo {
        text-align: center;
        top: -25px;
        height: 150px;
        img {
          height: inherit;
        }
      }
      .logout {
        button {
          float: right;
          color: $accent-color;
          font-size: 25px;
          background: transparent;
          border: none;
          margin: 20px 10px;
          height: 50px;
        }
      }
      .back {
        button {
          float: left;
          color: $accent-color;
          font-size: 25px;
          background: transparent;
          border: none;
          margin: 20px 10px;
          height: 50px;
        }

      }
    }
    section {
      z-index: 2;
      margin-top: 99px;
      div {

      }
    }
  }
}

.loader {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  span {
    height: 64px;
    width: 64px;
    font-size: 64px;
    margin-top: calc(25vh - 64px);

    animation: spinner linear 1.5s;
    animation-iteration-count: infinite;
  }
}

