//------------ COLOR -------------//

$main-background-color:     #fcfcfc;
$light-background-color:    #ffffff;
$accent-color:              #ffdf32;
$dark-background-color:     #202020;
$main-font-color:           #202020;
$accent-font-color:         #ffffff;

//------------ MEDIA -------------//

@mixin mdMedia {
  @media screen and (max-width: 991px) {
    @content;
  }
}

@mixin landscape {
  @media (orientation: landscape) {
    @content;
  }
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}