$main-background-color:     #fcfcfc;
$light-background-color:    #ffffff;
$accent-color:              #ffdf32;
$dark-background-color:     #000000;
$main-font-color:           #333333;
$accent-font-color:         #ffffff;