<div class="container" id="detailSection" style="display:none;">
    <div class="row">
        <div class="col-xs-12 centered centered-top logo" ng-click="goToHome()">
            <img src="images/logo.svg">
        </div>
    </div>
    <div class="row">
         <span class="col-xs-12 backHome" ng-click="goToHome()">
                Torna indietro <i class="fa fa-home" aria-hidden="true"></i>
            </span>
        <h1 class="col-xs-12 storeNameDetail" ng-cloak>
            {{getState(store)}} Store
            </h1>
           
    </div>
    <div class="row">
        <span class="col-xs-12" ng-cloak><b ng-cloak>{{store.name}}</b> - {{store.address}}
        <img src="{{store.thumbnail}}" ng-cloak /> </span>
    </div>

    <div class="row">
        <article class="col-xs-6 articleDetail">
            {{store.description}}
            <div class="row">
            <span class="col-xs-12 contactInfo">Contacts & Info</span>
            </div>
            <div class="infoElement">
            <div><b>Apertura : </b> <span>{{store.open_date}}</span><br /></div>
            <div><b>Telefono : </b> <span>{{store.phone}}</span><br /></div>
            <div><b>Sales Person : </b> <span>{{store.sales_person.first}} {{store.sales_person.last}}</span> |  
            <b><i class="fa fa-envelope" aria-hidden="true"></i> </b> <span>{{store.sales_person.email}}</span> <br />  </div>
            <div><b>Tags : </b> <i ng-repeat="t in store.tags">+{{t}} </i> </div>
            <div><b>Prodotti :</b><ul> <li ng-repeat="p in store.products">{{p.name}} <b class="priceElement">{{p.price}}$</b></li> </ul></div>
            </div>
        </article>
        <img src="{{store.featured_image}}"
            class="col-xs-6" style="margin-top:1%" />
    </div>
</div>

<!--TODO LIST 
    Luca fammi il return home funzionante con la session
    Infine fare il logout e GG
    E la mappa -.-
    Metti link a foursquare nel dettaglio e GG
    -->
