<section class="primarySection"
    id="loginSection">
     <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 centered centered-top">
                <img src="images/logo.svg" style="width:200px;"/>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-xs-12">

                <form id="loginBox" method="post">
                    <div class="row">
                        <span
                            class="col-lg-12 col-xs-12 centered"
                            id="alertHumanError"
                            style="display:none;">
                                E-mail o Password errata
                        </span>
                    </div>

                    <div class="loginField">

                        <input
                            type="email"
                            class="col-lg-12 col-xs-12 loginInput"
                            placeholder="E-mail"
                            name="email"
                            ng-model="email"/>

                    </div>

                    <div class="loginField">
                        
                            <input
                                type="password"
                                class="col-lg-12 col-xs-12 loginInput"
                                placeholder="Password"
                                name="password"
                                ng-model="password"/>
                        
                    </div>

                    <div class="loginField">

                            <button type="submit" class="col-lg-4 col-lg-offset-4 col-xs-12 btn btn-default" id="submitButtonLogin" ng-click="login()">
                                Accedi</button>
                        
                    </div>
                </form>
            </div>
        </div>
</section>
