
body {
    font-family: 'Open Sans', sans-serif;
}

#homeSection {
    background: black;
    height: 100vh;
}

#detailSection {
    background:white;
}

.primarySection. #homeSection, #detailSection {
    width: 100%;
}

#loginSection {
    background: url("../images/login.jpg") no-repeat;
    height:100vh;
    background-size:cover;
}

.centered {
    text-align: center;
}

.centered-top {
    margin-top: 15px;
}

#loginBox {
    width: 35%;
    border-radius: 20px;
    padding-top: 16px;
    padding-bottom: 1px;
    position: relative;
    background-color: rgba(221, 221, 221, 0.53);
    left: 33%;
    margin-top: 8%;
}

#socialLogin {
    margin-top: 17px;
    font-size: 50px;
}

    #socialLogin a {
        color: rgb(65,65,65);
    }

.fb:hover {
    color: #3B5998;
}

.twitter:hover {
    color: #00aced;
}

.yt:hover {
    color: #c4302b;
}

.pinterest:hover {
    color: #C92228;
}

#returnHomeLogin {
    cursor: pointer;
}

    #returnHomeLogin:hover, .backHome:hover {
        text-decoration: underline;
    }

.linkTSymbol {
    font-size: 15pt;
}

#logoHome {
    width: 50%;
    opacity: 0;
}

.navBarSpan {
    -webkit-transition: all 0.5s ease-in-out;
    font-size: 25pt;
    font-family: Abel;
    text-align: center;
    display: none;
    cursor: pointer;
}

.divNegozi, #gmap01 {
    background: rgba(218, 165, 32,0.8);
    color: black;
    font-size: 13pt;
}

    p {
        margin-top:2%;
        text-align:center;
        font-family:Jura;
        font-size:50pt;
    }

.leftStores, .rightStores, .middleStores {
    margin-top: 2%;
    text-align: left;
    letter-spacing: 1px;
}

    .leftStores span:hover, .rightStores span:hover, .middleStores span:hover {
        font-weight: bold;
        cursor: pointer;
    }

.preSpanStoreLink {
    font-size:10pt;
}
.imgStore {
    height:30vh;
    width:75%;
}

.no_padding{
    padding: 0 !important;
}
.no_margin{
    margin: 0 !important;
}
.row{
    margin-right: 0 !important;
}

#map {
    height:55vh;
    margin-left:15px;
    width:100%;
}

.storeNameDetail {
    border-bottom:solid 1px black;
    
}

.articleDetail {
    margin-top:1%;
    font-size:15pt;
    background:rgba(218, 165, 32,0.8);
    min-height:547px;
    padding-top:15px;
}

hr {
    border:solid 1px black;
}

.backHome {
    text-align:right;
    cursor:pointer;
}

.articleDetail .infoElement {
    font-size:13pt;
    margin-top:1%;
}
