body {
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

#homeSection {
    background: black;
    height: 100vh;
}

.primarySection, #homeSection, #detailSection {
    width: 100%;
}

#loginSection {
    /*background: url("../images/pattern.svg") no-repeat;*/
    background: url("http://www.printawallpaper.com/upload/designs/gold_world_map_detail.jpg") no-repeat;
    height: 100vh;
    background-size: cover;
}

#submitButtonLogin {
    background: rgba(0, 0, 0, 0.9);
    font-size: 40pt;
    color:rgba(218, 165, 32,0.8);
    font-family: Open Sans Condensed;
    margin-top: 2%;
}

.loginField {
    background:rgba(218, 165, 32,0.5);
    margin-top:5%;
    width:103%;
}

.loginInput {
    background: transparent;
    color: black;
    font-size: 40pt;
    font-weight:bold;
    letter-spacing:1px;
    border: none;
    font-family: Open Sans Condensed;
    width: 100%;
    text-align: center;
}

#alertHumanError {
    position:absolute;
    margin-top:-1%;
    margin-bottom: 2%;
    color: black;
}

.loginInput::-webkit-input-placeholder {
    color: black;
}

input:focus {
    outline: none !important;
    box-shadow: 0 0 10px rgba(218, 165, 32,0.8);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #000 !important;
}

.centered {
    text-align: center;
}

.centered-top {
    margin-top: 2%;
}

#loginBox {
    margin-top: 2%;
}

#returnHomeLogin {
    cursor: pointer;
}

    #returnHomeLogin:hover, .backHome:hover {
        text-decoration: underline;
    }

.linkTSymbol {
    font-size: 15pt;
}

.logout {
    -webkit-transition: all 0.5s ease-in-out;
    font-size: 20pt;
    margin-top: -11%;
    margin-left: 85%;
    cursor: pointer;
    color: black;
    opacity: 0.8;
}

    .logout:hover {
        -webkit-transition: all 0.5s ease-in-out;
        opacity: 1;
        font-size: 25pt;
    }

#logoHome {
    width: 50%;
    opacity: 0;
}

section {
    background: url('../images/bkg.svg') no-repeat;
    background-size: cover;
    color: rgb(238,232,170);
    margin-top: 2%;
    min-height: 80vh;
}

.navBarSpan {
    -webkit-transition: all 0.5s ease-in-out;
    font-size: 25pt;
    font-family: Abel;
    text-align: center;
    display: none;
    transform: translate(0,0%);
}

.spanStores {
    padding-left: 10px;
    font-size: 15pt;
    cursor: pointer;
}

    .spanStores:hover {
        font-weight: bold;
        color: rgb(218, 165, 32);
        border-left: solid 1px rgb(218, 165, 32);
    }

.navBarSpan i {
    -webkit-transition: all 0.5s ease-in-out;
    font-size: 80pt;
    margin-top: 1%;
    transform: translate(0,+0%);
    color: rgb(218, 165, 32);
}

.divNegozi, .divDetail, #gmap01 {
    color: rgb(238,232,170);
    font-size: 18pt;
    letter-spacing: 1px;
    font-family: Open Sans Condensed;
    text-align: left;
    margin-top: 2%;
}

p {
    margin-top: 2%;
    text-align: center;
    font-family: Jura;
    font-size: 50pt;
}

#description {
    font-size: 14pt;
    font-family: Marvel;
}

.headerInfoElement {
    color: rgb(218, 165, 32);
}

/*.headerInfoElement + span { to get nearest element
    
}*/

.buttonNearNavSpan, .buttonNearNavSpan:visited, .buttonNearNavSpan:focus {
    position: absolute;
    margin-left: 5%;
    display: inline-block;
    padding: 6px 12px;
    top: 5%;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    font-family: Abel;
    color: rgba(218, 165, 32,0.9);
    background-color: black;
    outline: 0;
}

.buttonStoreImage, .buttonStoreImage:visited, .buttonStoreImage:focus {
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    font-family: Abel;
    color: rgba(218, 165, 32,0.9);
    background-color: black;
    outline: 0;
}

    .buttonNearNavSpan:hover, .buttonStoreImage:hover {
        color: black;
        background-color: rgba(218, 165, 32,0.9);
        border-color: black;
    }

.no_padding {
    padding: 0 !important;
}

.no_margin {
    margin: 0 !important;
}

.row {
    margin-right: 0 !important;
}

#map {
    border: double 1px black;
    min-height: 50vh;
    width: 108%;
    right: 0;
    left: 0;
}

.storeNameDetail {
    text-align: center;
    margin-top: -1%;
}

.underH1Detail {
    text-align: center;
    font-size: 12pt;
}

hr {
    border: solid 1px black;
}

ul {
    list-style: square;
}

.backHome {
    text-align: right;
    cursor: pointer;
}

.articleDetail {
    font-family: Ubuntu;
}

    .articleDetail .infoElement {
        font-size: 13pt;
        margin-top: 1%;
    }

    .articleDetail i {
        font-size: 13pt;
    }

/*.infoElement div:nth-child(even) {
    background: rgb(238,232,170);
}*/

.infoElement div {
    padding-left: 5px;
}

.priceElement {
    position: absolute;
    right: 15%;
}

.contactInfo {
    border-top: solid 1px rgb(238,232,170);
    text-align: center;
    font-size: 10pt;
}

.trovaNegozio {
    margin-top: -1%;
}
