<div class="row details">
    <div class="col-xs-12 col-md-6 featured-image">
        <img ng-src="{{store.featured_image}}"/>
    </div>
    <div class="col-xs-12 col-md-6 info">
        <h1 class="col-xs-12">
            <b>{{store.name}} </b>
            <span ng-if="store.isActive == true" class="glyphicon glyphicon-ok-sign"></span>
            <span ng-if="store.isActive == false" class="glyphicon glyphicon-remove-sign"></span>
        </h1>
        <p class="col-xs-12">
            <i>{{store.description}}</i>
        </p>
        <p class="col-xs-12">
            <span class="glyphicon glyphicon-earphone"></span>
            {{store.phone}}
        </p>
        <p class="col-xs-12">
            <span class="glyphicon glyphicon-pushpin"></span>
            {{store.address}}
        </p>
        <p class="col-xs-12">
            <span class="glyphicon glyphicon-calendar"></span>
            {{store.open_date}}
        </p>
    </div>
</div>

<!-- <div>Dettagli store:
    <img src="{{store.featuredimage}}">

    <div>NOME: {{store.name}} </div>
    <div>PHONE: {{store.phone}} </div>
    <div>ADDRESS: {{store.address}} </div>
    <div>DESC: {{store.description}} </div>
    <div>ACTIVE: {{store.isActive}} </div>
    <div>OPEN DATE: {{store.open_date}} </div>

</div>
<br>
<div>Dettagli salesMan:
    <div>{{store.sales_person.first}} {{store.sales_person.last}}</div>
    <div>{{store.sales_person.email}} </div>

</div>
<br>
<div>PRODUCTS
    <div ng-repeat="product in store.products">
        <div>NAME:{{product.name}}</div>
        <div>AVAIBLE: {{product.isAvailable}}</div>
        <div>PRICE: {{product.price}}</div>
    </div>
</div> -->