<div class="loader ng-hide" ng-show="!loaded">
    <img src="assets/images/loader.svg"/>
</div>
<div class="row details ng-hide" ng-show="loaded">
    <div class="col-xs-12 col-md-6 featured-image">
        <img ng-src="{{store.featured_image}}"/>
    </div>
    <div class="col-xs-12 col-md-6 info">
        <h1 class="col-xs-12">
            <b>{{store.name}} </b>
            <span ng-if="store.isActive == true" class="glyphicon glyphicon-ok-sign"></span>
            <span ng-if="store.isActive == false" class="glyphicon glyphicon-remove-sign"></span>
        </h1>
        <p class="col-xs-12">
            <i>{{store.description}}</i>
        </p>
        <p class="col-xs-12">
            <span class="glyphicon glyphicon-earphone"></span>
            <a href="tel:{{store.phone}}">{{store.phone}}</a>
        </p>
        <p class="col-xs-12">
            <span class="glyphicon glyphicon-pushpin"></span>
            <a href="http://maps.google.com/?q={{store.address}}" target="_blank">{{store.address}}</a>
        </p>
        <p class="col-xs-12">
            <span class="glyphicon glyphicon-calendar"></span>
            {{store.open_date}}
        </p>
        <h2 class="col-xs-12">
            <b>Salesman</b>
        </h2>
        <p class="col-xs-12">
            <span class="glyphicon glyphicon-user"></span>
            {{store.sales_person.first}} {{store.sales_person.last}}
        </p>
        <p class="col-xs-12">
            <span class="glyphicon glyphicon-envelope"></span>
            <a href="mailto:{{store.sales_person.email}}">{{store.sales_person.email}}</a>
        </p>
        <h2 class="col-xs-12">
            <b>Products</b>
        </h2>
        <div class="product-list col-xs-12">
            <div class="col-xs-12 item" ng-repeat="product in store.products">
                <div>
                    <h5>
                        <span ng-if="product.isAvailable" class="glyphicon glyphicon-ok-sign"></span>
                        <span ng-if="product.isAvailable == false" class="glyphicon glyphicon-remove-sign"></span>
                        <b>{{product.name}}</b>
                    </h5>
                </div>
                <div class="price">
                    <span class="glyphicon 	glyphicon glyphicon-euro"></span>
                    {{product.price}}
                </div>
            </div>
        </div>
    </div>
</div>
