<div class="row">
    <div class="col-xs-12 login">
        <form ng-submit="submit()" class="row">
            <h1 class="col-xs-12">
                Please, <span>login</span>.
            </h1>
            <div class="col-xs-12">
                <input name="email" type="email" placeholder="Email" required ng-model="email"/>
            </div>
            <div class="col-xs-12">
                <input name="password" type="password" placeholder="Password" required ng-model="password"/>
            </div>
            <div class="col-xs-12">
                <input type="submit" value="LOGIN"/>
            </div>
            <div class="col-xs-12 error" ng-show="accessDenied">
                <p>
                    <span class="glyphicon glyphicon-exclamation-sign"></span> {{errorMsg}}
                </p>
            </div>
            <div class="col-xs-12 error" ng-show="forcedLogoutId">
                <span class="glyphicon glyphicon-exclamation-sign"></span> {{forcedLogoutMessage}}
            </div>
        </form>
    </div>
</div>
