<div id="stores" class="row stores">
    <div class="col-xs-12 card" ng-repeat="store in stores | orderObjectBy:'distance':false" tabindex="{{$index}}">
        <div class="row">
            <button class="col-xs-3" ui-sref="details({id: store.guid})">
                DISCOVER
            </button>
            <div class="info" ng-click="focus(store.latitude,store.longitude)">
                <div><b>{{store.name}}</b></div>
                <div ng-if="store.distance">{{store.distance}} km</div>
            </div>
        </div>
    </div>

</div>
