<div id="stores" class="row stores">
    <input ng-model="search" placeholder="cerca...">
    <div class="col-xs-12 card" ng-repeat="store in stores | filter : search | orderObjectBy:'distance':false  " tabindex="{{$index}}" ng-click="focus(store.latitude,store.longitude)">
        <div class="discover" ui-sref="details({id: store.guid})">
            DISCOVER
        </div>
        <div class="info">
            <div><b>{{store.name}}</b></div>
            <div ng-if="store.distance">{{store.distance}} km</div>
        </div>
    </div>
    <div class="loader ng-hide" ng-show="!loaded">
        <span class="glyphicon glyphicon-repeat"></span>
    </div>
</div>
